/* 
    Document   : enlaces
    Created on : 07-oct-2014, 18:24:09
    Author     : Jorge Rodríguez <jergo23@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

#enlaces dl{
   border: 1px green solid;
   border-radius: 10px;
   background: rgba(60,60,60,0.2);
   padding: 10px;
}

#enlaces dt{
   border: 1px green solid;
   border-radius: 10px;
   background: rgb(240,240,255);
   padding-left: 5px; 
   overflow: visible;
}
#enlaces dd{
   padding-top: 5px;
}
