
*{
    /*border:solid red; */
    font-family: arial, verdana, sans-serif, Times New Roman, Georgia;
}

body{
    background: rgb(220,220,220) /* rgb(145,145,145) url(../imagenes/fondo.jpg)*/;
    background-size: 100% auto;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
label{
    color:black;
}
.teu{
    margin: 5px auto;
    width: 1000px;	/* para que el ancho sea fijo */
    /*width: 90% auto;	/* para que el ancho variable */
    overflow: hidden;
    /*text-shadow:0 0 2px rgb(255,0,0); /*opcional*/
    padding: 10px 30px;
    background: rgb(240,240,255)/* rgb(174,205,145) url(../imagenes/fondo.jpg)*/;
    background-size: auto; /* el background del teu*/
}

@media screen and (min-width: 1500px) {
    .teu{
	background-size: 100% auto; /* el background del teu*/
        width: 1200px;	/* para que el ancho sea fijo */
        margin: 20px auto; /* para centrar la página */
    }
}

#view_content{
    clear:both;
}

.pie{
    text-align:right;
}

#encabezado{
    color: white;
    background: rgb(174,205,145);
    margin-top: 40px;
}

#encabezado h3{
    float: left;
}

img {
    padding: 10px;
}

p{
    float:left;
    text-shadow:none;
}

a:link {
    text-decoration:none;
    text-shadow:none;
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: green;
}

.input_error{
    color: red;
    font-size: 90%;
}

#piej{
    font-size:11px;
    width:100%;
    padding: 0% 2%;
    background: rgb(174,205,145);
    overflow: hidden;
}

/* Adaptaciones a Bootstrap */
.container .teu {
  border-radius: 20px;
  
}
#menu_up {
    width: 100%;
    background: rgb(174,205,145);
    border-radius: 0% 0% 15px 15px;
    margin: auto;
    padding: 0px 30px;
}

#conexion{
    float: right;
    padding-right: 2%; 
}

.form_derecha{
    float:right;
    width: 65%;
}

#sendero_migas_pan a:last-child{
    text-decoration: none;
    color: green;
}

/* Modificaciones Bootstrap*/
.form-control {
  height: 25px;
  padding: 3px 6px;
  font-size: 12px;
}
.btn {
    padding: 2px 6px;
    margin: 6px 12px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}

.boton {
    margin: 5px 5px;
    padding: 2px;
    line-height: 170%;
    background-color: rgb(230,230,230);
    text-decoration: none;       
    cursor:pointer;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 7px;
}

.boton1{
    background: rgb(174,205,145);
    border-radius: 20px;
    height: 35px;
    width: 100%;
    margin-left: 5px;
    padding: 2px;
    margin: 5px;
}
.botonAdmin{
    margin: 5px 5px;
    padding: 5px;
    line-height: 170%;
    background-color: /*rgb(174,205,145)*/ wheat;
    color: black;
    border: 2px solid green;
    text-decoration: none;
    border-radius: 30px;
    cursor:pointer;    /*border: 2px solid brown;*/

}
.boton1:hover, .botonAdmin:hover{
    background-color: rgb(220,220,220) ;
}
.navbar-default .navbar-brand{
    color: white;
}
input,select {
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 7px;
}



/*
@media (min-width: 1600px){
    .container {
        width: 1550px;
    }
}


@media (min-width: 768px) and (max-width: 992px){
    .separacion{
        /*margin-top: 110px;
    }
}
*/